<header class="grid">
    <div>
        <img src="/images/5963b0eef072463cfa019f6f.png" alt="Sharing for good" class="logo">
    </div>
    <div>
        <!-- <a accesskey="2" id="nav-open" class="jump-link" href="#main-nav"><span class="vishid">Jump to navigation</span></a> -->
        <h1>Lenda - community sharing</h1>
        <p class="subtitle">EDA - Hihi 2018 Group Project 3.1</p>
    </div>
    <div class = "formContainer">
        <form action="/members/login" method="post">
            <fieldset>
                <br>
                <legend>
                    Sign in
                </legend>
                <label for ="email">Email address:</label>
                <input type="email" name ="email" accept="email">
                <br>
                <label for ="password">Password:</label>
                <input type="password" name = "password" accept="password">
                <br>
                <input type="submit" value="Log in">
            </fieldset>
        </form>
    </div>
</header>
{{>nav}}