<nav class="grid">
  {{!-- <p class="{{#if nav.home}}current{{/if}}">
    <a href="/">Home</a>
  </p> --}}
  <p class="{{#if nav.browse}}current{{/if}}">
    <a href="/listings?cat=1">Browse</a>
  </p>
  {{#if currentUser.id}}
  <p class="{{#if nav.listings}}current{{/if}}">
    <a href="/listings/new">List something</a>
  </p>
  <p class="{{#if nav.bookings}}current{{/if}}">
    <a href="/loans/">Bookings</a>
  </p>
  <p class="{{#if nav.community}}current{{/if}}">
    <a href="../members/">Community</a>
  </p>
  {{/if}}
  <p class="{{#if nav.profile}}current{{/if}}">
    {{#if currentUser.id}}
    <a href="../members/{{currentUser.id}}">my profile<br>{{currentUser.name}}</a>
    {{else}}
    <a href="../members/new">sign-up</a>
    {{/if}}
  </p>
</nav>