{{!-- This will be a form, used for new listing and edit existing listing --}}
<section class="formcontainer">
   
    <form method="post">
     <fieldset>
        <legend>
            <h2>List a...</h2>
        </legend>
        <br>
    <label for= "category"><h2>Choose a category:</h2></label>
        <select>
            {{#each categories}}
            <option value= {{id}}>{{name}}</option>
            {{/each}}
        </select> 
        <br>
            <label for="title"><h2>Title:</h2></label>
            <input type="text" name = "title" accept="text/plain">
            <br>
            <label for="add"><h2>Tell us about your item</h2></label>
            <textarea></textarea>
            <br>
            <label for="item"><h2>Your Pictures:</h2></label>
            <input type="url" accept="image/*">
            <br>
            <input type="submit" value="Submit">
<br>
        </fieldset>
    </form>
</section>