{{!-- This will be a form, used for new listing and edit existing listing --}}
<section class="formcontainer">
    <form action="/editlist" method="post">
        <label for="title">Title</label>
        <input type="text" name="">
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </form>
</section>