<h1>Loans</h1>

<p>Current user is {{#if currentUser.id}}{{currentUser.name}}{{else}}NULL!!{{/if}}</p>


<p>Do you dare work on this bit of Lenda?  the loans and the many to many relationship!! ;-)</p>